build/*
compile_commands.json
Bak/*
lstingX
Result/*
origin-lstingX
*.sh
bin/*
.vscode/*
tmp/*
.DS_Store
core
test.c
result.c
output.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
